<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="levae.client">

    <application
        android:name=".core.util.ContextUtil"
        android:allowBackup="true"
        android:icon="@drawable/ic_menu_gallery"
        android:roundIcon="@drawable/abc_vector_test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".view.Main2Activity" />
        <activity android:name=".view.pagamento.PagamentoActivity" />
        <activity
            android:name=".view.Teste"
            android:label="@string/title_activity_teste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.main.MainActivity"
            android:label="@string/title_activity_main" />

        <activity
            android:name=".view.perfilAlterarInfo.PerfilAlterarInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.pagamentoNovo.PagamentoNovoActivity" />
        <activity android:name=".view.pagamentoDetalhe.PagamentoDetalhe" />
        <activity android:name=".view.perfilAlterarSenha.PerfilAlterarSenha" />
        <activity android:name=".view.demandaDetalhe.DemandaDetalhe" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            tools:replace="android:authorities" />

        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.cadastro.CadastroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.apresentacao.Apresentacao"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNTbwqIBGNvqpLTzmhgsVu7pgZssX4BjQ" />
    </application>

</manifest>